<ion-view title="Change Password">
    <ion-content padding="true" class="has-header">
        <form class="list" name="changePassword" novalidate>
            <label class="item item-input">
                <span class="input-label">New password:</span>
                <input id="newpassword" name="newpassword" type="password" minlength="8" maxlength="16" placeholder="Enter new password" ng-model="edit.newpassword" required>
            </label>
            <div class="padding">
                <p style="color: #FF0000;" ng-show="changePassword.newpassword.$error.required">* New password is required</p>
            </div>
            <label class="item item-input">
                <span class="input-label">Re-password:</span>
                <input id="repassword" name="repassword" type="password" minlength="8" maxlength="16" placeholder="Enter re-password" ng-model="edit.repassword" required>
            </label>
            <div class="padding">
                <p style="color: #FF0000;" ng-show="changePassword.repassword.$error.required">* Re-password is required</p>
            </div>
            <button class="button button-positive  button-block icon-left ion-android-checkmark-circle" ng-disabled="changePassword.$invalid"
                ng-click="showConfirmChangePassword(edit,member)">Confirm</button>
        </form>
    </ion-content>
</ion-view>